//
// Base
// --------------------------------------------------
body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    padding: 0 3rem;

    @media only screen and (max-width: $break-small) {
        padding: 0 1.5rem;
    }
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.clear::before,
.clear::after {
    content: '';
    display: table;
    clear: both;
}


/* width */

::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */

::-webkit-scrollbar-track {
    background: #a4a4a4;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #231f20;
    transition: 0.2s;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #161616;
}